/*
	Site Name: stephenbair.com
	Author: Stephen Bair
*/

body {
	margin: 0;
	padding: 0;
	background: #516d9f url(../images/bg-blue.jpg) repeat;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	color: #999;
}

/*================== Global */
.clearfix{clear: both;}
.container{
	max-width: 980px;	
	width: 100%;
	margin: 0 auto;
}
ul{
	padding: 0;
	list-style: none;
}
a, a:visited{
	color: #4C689A;
	text-decoration: underline;
}
a:hover{text-decoration: none;}
.two-column{
	-moz-column-count: 2;
	-moz-column-gap: 60px;
	-webkit-column-count: 2;
	-webkit-column-gap: 60px;
	column-count: 2;
	column-gap: 60px;
}
.content{/* creates white background for secondary pages */
	width: 100%;
	background: #fff;
	top: 0;
	float: left;
	box-shadow: 0 0 9px 4px #444;
	padding-top: 30px;
}
h1,h2,h3{
	text-transform: lowercase;
	font-weight: normal;
}

/*================== Logo */
#logo{
	float: left;
	width: 270px;
	position: relative;
	margin: 30px 0 0 15px;
}
#logo p{
	position:absolute; 
	top:22px; left:108px;
	font-size: 22px;
	color: #fff;
	text-shadow: 1px 1px 1px #454545;
	width: 160px;
}

/*================== Header */
header{
	position: relative;
	height: 150px;
    width: 100%;
}

/*================== Primary Menu */
nav#menu{
	float: right;
	width: 320px;
	height: 40px;
	margin: 0 auto;
	padding: 0;
	margin: 30px 15px 0 0;
}

nav#menu ul{
	float: right;
	margin: 0;
	padding: 40px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

nav#menu li{
	float: left;
}

nav#menu a{
	display: block;
	padding: 10px 0px 15px 30px;
	text-decoration: none;
	text-transform: lowercase;
	text-align: center;
	font-size: 20px;
	font-weight: 300;
	color: #000;
	border: none;
	text-shadow: 1px 1px 1px #454545;
}

nav#menu a:hover{
	text-decoration: none;
	color: #fff;
}
nav#menu li.active a{
	color: #fff;
}

/*==== Secondary Menu */

.content nav{
	float: left;
	width: 15%;
	min-height: 300px;
	margin: 0 5% 0 0;
	background: url(../images/div-vert-shadow.jpg) no-repeat right top;
}
.content nav li{
	float: left;
	clear: both;
	margin: 0 0 12px 0; 
}
.content nav li a{
	color: #fff;
	text-transform: lowercase;
	padding: 5px 15px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background: #4c689a;
	background: -moz-linear-gradient(top,  #4c689a 14%, #d6d6d6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(14%,#4c689a), color-stop(100%,#d6d6d6));
	background: -webkit-linear-gradient(top,  #4c689a 14%,#d6d6d6 100%);
	background: -o-linear-gradient(top,  #4c689a 14%,#d6d6d6 100%);
	background: -ms-linear-gradient(top,  #4c689a 14%,#d6d6d6 100%);
	background: linear-gradient(to bottom,  #4c689a 14%,#d6d6d6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c689a', endColorstr='#d6d6d6',GradientType=0 );
}
.content nav li a:hover{
	background: #444;
	-webkit-transition: background 1s linear;
	-moz-transition: background 1s linear;
	-ms-transition: background 1s linear;
	-o-transition: background 1s linear;
	transition: background 1s linear;
}


/*================== Home */
#home figure.primary{
	border:20px #fff solid;
	position: relative;
    top: -200px;
    box-shadow: 0 4px 5px -2px #999;
}
#home figcaption{
	position: relative;
    top: -180px;
    font-size: 48px;
    letter-spacing: -3px;
    text-align: center;
    color: #444;
    line-height: 42px;
    padding: 0 15px;
}
#home figcaption span{
	font-size: 24px;
	letter-spacing: 0;
	color: #999;
}
#home figure.primary img{
	display: block;
	width:100%;
	height:auto;
}
#home .content{/* creates white background for home */
	width: 100%;
	background: #fff;
	position: relative;
    top: 160px;
}
#home article{
	position: relative;
	top: -160px;
	padding: 0 15px;
}
#home article section{
	width: 70%;
}
#home article section p{
	margin: 0 0 15px 0;
}
#home article aside{
	float: right;
	margin-top: 60px;
	max-width: 300px;
	min-height: 300px;
	padding-left: 60px;
	background: url(../images/div-vert-shadow.jpg) no-repeat left top;
}
#home article aside img{
	-webkit-box-shadow: 1px 1px 1px 1px #999;
	box-shadow: 1px 1px 1px 1px #999;
}

/*================== portfolio */
#portfolio .section-container{
	float: left;
	width: 80%;
}
#portfolio h2{
	color: #444444;
    font-size: 48px;
    letter-spacing: -3px;
    line-height: 42px;
    border-bottom: 1px #ccc solid;
}
#portfolio section{
	float: left;
	width: 100%;
}
#portfolio .listing{
	width: 213px;
	height: 380px;
	float: left;
	padding: 0 45px 0 0;
	text-align: center;
}
#portfolio .branding .listing{
	clear: both;
	width: 450px;
	height: 330px;
	float: none;
	margin: 0 auto;
}
#portfolio .listing img[src$=".jpg"]{
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}
#portfolio .branding .listing img.arnold{
	-webkit-box-shadow: 1px 1px 6px 1px rgba(249,212,9,.4);
	box-shadow: 1px 1px 6px 1px rgba(249,212,9,.4);
}
#portfolio .branding .listing img.ssc{
	-webkit-box-shadow: 1px 1px 6px 1px rgba(56,74,160,.4);
	box-shadow: 1px 1px 6px 1px rgba(56,74,160,.4);
}
#portfolio .branding .listing img.jarnold{
	-webkit-box-shadow: 1px 1px 6px 1px rgba(229,28,34,.4);
	box-shadow: 1px 1px 6px 1px rgba(229,28,34,.4);
}
#portfolio .content h3{
	color: #4C689A;
	margin: 10px 0;
	text-transform: uppercase;
}

.motion {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: motion;
	animation-name: motion;
}

/*==== Text Motion */
@-webkit-keyframes motion {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-2deg);
    transform: scale(0.9) rotate(-2deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1) rotate(2deg);
    transform: scale(1.1) rotate(2deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale(1) rotate(-2deg);
    transform: scale(1) rotate(-2deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

@keyframes motion {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-2deg);
    -ms-transform: scale(0.9) rotate(-2deg);
    transform: scale(0.9) rotate(-2deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(2deg);
    -ms-transform: scale(1.1) rotate(2deg);
    transform: scale(1.1) rotate(2deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale(1) rotate(-2deg);
    -ms-transform: scale(1) rotate(-2deg);
    transform: scale(1) rotate(-2deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

/*================== resume */
#resume article{
	float: left;
	width: 700px;
	height: 800px;
	border: 1px #444 solid;
	font-size: 12px;
	position: relative;
	font-family: arial, helvetica, sans-serif;
	-webkit-box-shadow: 1px 1px 1px 1px #999;
	box-shadow: 1px 1px 1px 1px #999;
	margin: 0 auto;
}
#resume article h3{
	color: #4C689A;
	text-transform: capitalize;
	font-weight: bold;
}
#resume article h3{margin: 0 0 5px 0;}
#resume article ul{margin: 0 0 10px 0;}
#resume section.header{
	position: absolute;
	top: 30px;
	left: 30px;
}
#resume section.header img{float: left;}
#resume section.header .header-text{
	float: left;
	margin: 0 0 0 15px;
}
#resume section.header h2{
	text-transform: lowercase;
	margin: 0 0 0 0;
	color: #4C689A;
	font-size: 24px;
}
#resume section.header p{
	margin: 0 0 0 0;
	font-size: 16px;
}
#resume section.address{
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
}
#resume section.education{
	position: absolute;
	top: 130px;
	left: 30px;
	width: 340px;
}
#resume section.skills{
	position: absolute;
	top: 300px;
	left: 30px;
	width: 340px;
}
#resume section.achievements{
	position: absolute;
	top: 430px;
	left: 30px;
	width: 340px;
}
#resume section.employment{
	position: absolute;
	top: 130px;
	right: 30px;
}
#resume section li:first-child{
	font-weight: bold;
	color: #444;
}
#resume section.header li, #resume section.address li{
	font-weight: normal;
	color: #999;
}
#resume section.address li.highlight:first-letter{color: #4C689A;}

/*================== contact */
#contact .content h2{
	margin: 15px 0 0 0;
	color: #4C689A;
	font-size: 16px;
	font-weight: bold;
}
#contact .content #contact-form{
	float: left;
	position: relative;
	width: 420px;
}
#contact .content #contact-form fieldset{
	padding: 0;
	height: 400px;
	padding: 15px;
	-webkit-box-shadow: 1px 1px 1px 1px #999;
	box-shadow: 1px 1px 1px 1px #999;
}
#contact .content #contact-form label{/* set labels off screen but visible by screen reader */
	position: absolute;
    text-indent: -9999px;
}
#contact .content #contact-form input, #contact .content #contact-form select, #contact .content #contact-form textarea, #contact .content #contact-form button{
	float: left;
	clear: both;
	width: 100%;
	margin: 0 0 15px 0;
	font-family: 'The Girl Next Door', arial, sans-serif;
}
#contact .content #contact-form select{
	border: 1px #999 solid;
}
#contact .content #contact-form input[type="text"]{
	height: 20px;
	border: 0;
	border-bottom: 1px #999 solid;
}
#contact .content #contact-form textarea{
	height: 150px;
	width: 99%;
}
#contact .content #contact-form button[type="submit"]{
	width: 100%;
	border: 0;
	background: #999;
	padding: 5px 0 0 0;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
#contact .content #contact-form button[type="submit"]:hover{
	background: #000;
	color: #fff;
}
#contact .content ul.side{
	float: left;
	margin: 0 0 0 60px;
}
#contact .content ul.side ul{
	margin: 0;
}

/*================== footer */
footer{
	margin: 30px auto 0 auto !important;
	font-family: arial, helvetica, sans-serif;
	font-size: 9px;
	color: #999;
	border-top: 1px solid #999;
}
footer h4{
	color: #999 !important;
	padding: 5px 15px;
	text-transform: uppercase;
	
}

@media (max-width:1024px){
	
	.share-container .dropdown-toggle, .share-container .dropdown-text{
		display: none
	}
	.share-container .dropdown-content{
		visibility: visible;
		opacity: 1;
		width: 190px;
		top:0;
		right: 0;
		background: #4c689a;
		text-indent: 0;
		-webkit-transition: 0;
		-moz-transition: 0;
		-ms-transition: 0;
		-o-transition: 0;
		transition: 0;
		padding-left: 20px;
		-webkit-box-shadow: 0 3px 3px 2px #466294;
		box-shadow: 0 3px 3px 2px #466294;
	}
	.share-container .dropdown-content:after{
		position: inherit;
	    content: '';
	    width: 0px;
	    height: 0px;
	    border-width: 0;
	    border-color: transparent;
    }
	.share-container .dropdown-content li{
		border: 0;
		float: left;
	}
	.share-container .dropdown-content li a{
		-webkit-transition: 0;
		-moz-transition: 0;
		-ms-transition: 0;
		-o-transition: 0;
		transition: 0;
	}
	.share-container .dropdown-content a:hover {
		padding-left:0;
	}
	.share-container .dropdown-content li a span{
		display: none;
	}
	.share-container .dropdown-content:hover,
	.share-container .dropdown-toggle:focus ~ .dropdown-content {
		top: 0;
	}
	.share-container .icon{
		margin-right: 15px;
	}
	#portfolio .content p, #resume p, #contact .content p{
		margin: 15px;
	}
	#home article section{
		float: left;
		clear: both;
		width: 100%;
	}
	#home article aside{
		display: none;
	}
	#portfolio .content nav{
		display: none;
	}
	#portfolio section{
		margin: 0 0 0 30px;
	}
	#portfolio .listing{
		margin: 0 0 0 20px;
		padding: 0;
	}
	#portfolio .branding .listing{
		width: 100%;
		height: 350px;
	}
	#resume .content nav{
		margin: 0 0 0 15px;
	}
	#contact form{
		margin: 0 0 0 15px;
	}
}
@media (max-width:862px){
	#resume .content nav{
		background: none;
		min-height: 100px;
		width: 80%;
	}
	#resume .content nav ul li{
		clear: none;
		margin: 0 10px 0 0;
	}
	#resume .content article{
		display: none;
	}
}
@media (max-width:768px){
	#logo{
		width: 70px;
		margin: 30px 0 0 15px;
	}
	#home article section{
		float: left;
		clear: both;
		width: 100%;
	}
	.two-column{
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
}
@media (max-width:633px){
	#contact .content #contact-form{
		width: 95%;
	}
	#contact .content ul.side{
		width: 97%;
		padding: 5px 0 15px 10px;
		margin: 30px 0 0 0;
		clear: both;
		background: #4c689a;
		color: #fff;
	}
	#contact .content ul.side h2, #contact .content ul.side a{
		color: #fff;
	}
}
@media (max-width:579px){
	header{height: 130px;}
	h1 {
		font-size: 20px;
		margin: 30px 0 5px 0;
	}
	#logo{
		height: 40px;
		margin: 0px 0 0 15px;
	}
	#logo h1{margin: 20px 0 5px 0;}
	#logo p{display: none;}
	#logo img{
		height: 100%;
		width: 60px;
	}
	nav#menu{
		float: none;
		width: 265px;
		margin: 0;
	}
	nav#menu a{padding: 0px 15px 15px 0px;}
	#home figcaption{
		font-size: 35px;
		line-height: 32px;
	}
	#home .content{top: 120px;}
	#home figure.primary{top: -160px;}
	#home figcaption{
		top: -150px;
		font-size: 22px;
		line-height: 23px;
		letter-spacing: 0px;
	}
	#home figcaption span{font-size: 18px;}
	#portfolio .branding .listing{height: 270px;}
	#portfolio .listing img[src$=".jpg"]{
		width: 100%;
		height: auto;
	}
	#contact .content #contact-form{
		width: 86%;
	}
	#contact .content #contact-form fieldset{
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	#contact .content ul.side li ul li{
		margin: 0 0 10px 0;
	}
}
